<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lijun.androidstudy">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="com.android.launcher3.LauncherProvider" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name="LJApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">

        <activity
            android:name="com.lijun.androidstudy.welcomeViewPager.GuideActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lijun.androidstudy.launcher.LJLauncher"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lijun.androidstudy.welcomeViewPager.WelcomeActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lijun.androidstudy.waterfall.WaterFallActivity"
            android:label="@string/waterFall_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lijun.androidstudy.upshadowlockscreen.USLockScreenActivity"
            android:label="@string/upShadowLockScreen_title"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name=".flashlight.FlashLight"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lijun.androidstudy.drawAsPen.DrawAsPenActivity"
            android:label="@string/drawAsPen_title"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lijun.androidstudy.halo.HaloActivity"
            android:label="@string/halo_title"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lijun.androidstudy.floatmeltitask.FloatMultiTaskActivity"
            android:label="@string/floatmeltitask_settings_title"
            android:theme="@android:style/Theme.Black">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.lijun.androidstudy.floatmultitask.SETTINGS" />
            </intent-filter>
        </activity>

        <service
            android:name="com.lijun.androidstudy.floatmeltitask.FloatMultiTaskService"
            android:enabled="true"
            android:exported="true"></service>

        <service
            android:name="com.lijun.androidstudy.floatmeltitask.BackTaskService"
            android:enabled="true"
            android:exported="true"></service>

        <receiver
            android:name="com.lijun.androidstudy.floatmeltitask.FloatMultiTaskReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.malata.floatmultitask.action.changestatus" />
                <action android:name="com.malata.floatmultitask.action.close" />
                <action android:name="com.malata.floatmultitask.action.showmainwindow" />
                <action android:name="com.malata.floatmultitask.action.showfloatbutton" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="com.malata.floatmultitask.action.cleanbesidesms" />
                <action android:name="com.malata.floatmultitask.action.disableautoshowsms" />
                <action android:name="com.malata.floatmultitask.action.enableautoshowsms" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.lijun.androidstudy.ebook.EbookReader"
            android:label="@string/ebook_title"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lijun.androidstudy.icontools.IconToolsActivity"
            android:label="@string/icontools_title"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lijun.androidstudy.widgets.WidgetsActivity"
            android:label="@string/widgets_title"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lijun.androidstudy.widgets.WidgetsDisplayActivity"
            android:label="@string/widgets_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lijun.progressbar.dymbutton.DymButtonActivity"
            android:label="@string/dymbutton_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lijun.androidstudy.bluetoothChat.BluetoothChatActivity"
            android:label="@string/app_share_title">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- 二维码分享 -->
        <activity
            android:name="com.lijun.androidstudy.qrcode.QRCodeDemoActivity"
            android:label="@string/app_share_title"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lijun.androidstudy.qrcode.QRCodeShareActivity"
            android:label="@string/qrcode_share_title"
            android:theme="@style/Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <receiver android:name="com.lijun.androidstudy.qrcode.BluetoothReceiver" >
            <intent-filter android:priority="1000">
                <action android:name="android.bluetooth.device.action.PAIRING_REQUEST"/>
                <action android:name="android.bluetooth.device.action.FOUND" />
            </intent-filter>
        </receiver>

        <!-- 爆炸效果 -->
        <activity
            android:name="com.lijun.viewexplosion.test.TestViewExplosionActivity"
            android:label="@string/view_explosion_test"
            android:theme="@style/Theme.AppCompat.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- 机器人掉落 -->
        <activity
            android:name="com.lijun.androidstudy.droidflakes.Droidflakes"
            android:label="@string/droid_flakes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- 照片池 -->
        <activity
            android:name="com.lijun.androidstudy.rajawalidemo.photograph.Photograph"
            android:label="@string/droid_flakes"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- VR场景 -->
        <activity
            android:name="com.lijun.androidstudy.rajawalidemo.skybox.SkyboxActivity"
            android:label="@string/droid_flakes"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <!-- JPEG 图片压缩 -->
        <activity
            android:name="com.lijun.androidstudy.jpegimgcompressdemo.activity.JpegImgCompressActivity"
            android:label="@string/imgcompress">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>


</manifest>